<div ng-controller="CtrlUser" ng-model="connected">
	<div ng-show="connected">
 		<h2 class="text-danger text-center">Vous devez vous connecter </span></h2> 
 	</div>
 <div ng-hide="connected">
	<div class="row" >
	<nav class="navbar navbar-dafault">
  		<ul class="nav navbar-nav">
			<li> <a href="#/boite/mail"><h4><span class="label label-primary">Nouveau Message</span></h4> </a>
			<li> <a href="#/boite/reception"><h4><span class="badge">Boite de reception</span></h4></a>
			<li> <a href="#/boite/envoi"><h4> <span class="badge">Boite d'envoi</span></h4></a>
		</ul>
		<ul class="nav navbar-nav navbar-right">
		    <br><li> <p class="text-primary">compte:{{user.email}}</p></li>
		    <li> <button class="btn btn-xs glyphicon glyphicon-remove-sign" ng-click="deconnexion()"></button ></li>
		</ul>
	</nav>
	</div>
</div>
</div>