 <div  ng-controller="CtrlRec">
 	<div class="row" >
	<nav class="navbar navbar-dafault">
  		<ul class="nav navbar-nav">
			<li> <a href="#/boite/mail"><h4><span class="label label-primary">Nouveau Message</span></h4> </a>
			<li> <a href="#/boite/reception"><h4><span class="badge">Boite de reception</span></h4></a>
			<li> <a href="#/boite/envoi"><h4> <span class="badge">Boite d'envoi</span></h4></a>
		</ul>
		<ul class="nav navbar-nav navbar-right">
		    <br><li> <p class="text-primary">compte:{{user.email}}</p></li>
		    <li> <button class="btn btn-xs glyphicon glyphicon-remove-sign" ng-click="deconnexion()"></button ></li>
		</ul>
	</nav>
	</div>
 <h2>Total mails recus <span class="badge" ng-bind=reception.length> </span></h2>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
<!--        <th ng-click="orderByMe('firstName')">Nom </th> -->
            <th>Object </th>
            <th>Date</th>
            <th>de<th>
            <th>PJ</th>
            <th>Supprimer</th>
            <th>Voir</th>
        </tr>
        </thead>
        <tbody>
<!--         <tr ng-repeat="mail in reception |orderBy : prop | filter : filt  "> -->
	  	<tr ng-repeat="mail in reception">

           <td>{{mail.object}}</td>
           <td>{{mail.date | date:'HH:mm:ss'}}</td>
            <td>{{mail.userSender.email}}</td>
           <td>0</td>
            <td>
                <button class="btn btn-danger glyphicon glyphicon-trash" ng-click="deleteMail(mail.id)"></button>
            </td>
          
            <td>
                <button class="btn btn-info glyphicon glyphicon-eye-open" ng-click="showMail(mail.id)"></button >
            </td>  
        </tr> 
        </tbody>
    </table>
</div>